Repository fulaide/educational-app, changes with the owners that CODEOWNERS names for each.
All owners: @educational-app/core-team, @educational-app/mobile-team, @educational-app/frontend-team, @educational-app/admin-team, @educational-app/design-system-team, @educational-app/backend-team, @educational-app/security-team, @educational-app/devops-team

feat: implement comprehensive German language provider with distractor generation
  packages/learning/src/providers/german/GermanLanguageData.ts
  packages/learning/src/providers/german/GermanLanguageProvider.ts
  packages/learning/src/providers/german/README.md
  packages/learning/src/providers/index.ts
Owners: @educational-app/core-team

feat: integrate language providers into VocabularyService with exercise generation
  packages/learning/src/services/VOCABULARY_SERVICE_INTEGRATION.md
  packages/learning/src/services/VocabularyService.ts
  packages/learning/src/services/index.ts
Owners: @educational-app/core-team

feat: implement complete vocabulary challenge builder system
  apps/teacher-portal/src/lib/components/ChallengeBuilder/ChallengeBuilder.svelte
  apps/teacher-portal/src/lib/components/ChallengeBuilder/ChallengePreview.svelte
  apps/teacher-portal/src/lib/components/ChallengeBuilder/DistractorConfigurator.svelte
  apps/teacher-portal/src/lib/components/ChallengeBuilder/WordSelector.svelte
  apps/teacher-portal/src/routes/(authenticated)/challenges/create/+page.server.ts
  apps/teacher-portal/src/routes/(authenticated)/challenges/create/+page.svelte
  apps/teacher-portal/src/routes/(authenticated)/students/qr-codes/+page.svelte
  packages/database/prisma/migrations/20251016182346_add_vocabulary_challenges/migration.sql
  packages/database/prisma/schema.prisma
Owners: @educational-app/frontend-team, @educational-app/backend-team

feat: implement spaced repetition algorithm with SM-2 and mistake pattern analysis
  apps/teacher-portal/src/lib/server/spaced-repetition.server.ts
  packages/database/prisma/migrations/20251016184128_add_vocabulary_mistake_tracking/migration.sql
  packages/database/prisma/schema.prisma
  packages/learning/src/services/MistakePatternAnalyzer.ts
  packages/learning/src/services/SpacedRepetitionEngine.ts
Owners: @educational-app/frontend-team, @educational-app/backend-team, @educational-app/core-team

feat: add challenges list page with analytics and filtering
  apps/teacher-portal/src/routes/(authenticated)/challenges/+page.server.ts
  apps/teacher-portal/src/routes/(authenticated)/challenges/+page.svelte
Owners: @educational-app/frontend-team

fix: add Challenges to sidebar navigation and fix 500 error handling
  apps/teacher-portal/src/lib/navigation/teacher-navigation.ts
  apps/teacher-portal/src/routes/(authenticated)/challenges/+page.server.ts
  apps/teacher-portal/src/routes/(authenticated)/challenges/+page.svelte
Owners: @educational-app/frontend-team

fix: simplify challenge loading queries to avoid nested query errors
  apps/teacher-portal/src/routes/(authenticated)/challenges/+page.server.ts
Owners: @educational-app/frontend-team

fix: add Prisma client to event.locals for route access
  apps/teacher-portal/src/app.d.ts
  apps/teacher-portal/src/hooks.server.ts
Owners: @educational-app/frontend-team

debug: add extensive logging to track prisma client availability
  apps/teacher-portal/src/hooks.server.ts
  apps/teacher-portal/src/routes/(authenticated)/challenges/+page.server.ts
Owners: @educational-app/frontend-team

feat: implement typing challenge Phase 2 (virtual keyboard & hints)
  packages/learning/src/data/qwertz-keyboard-layout.ts
  packages/learning/src/index.ts
  packages/learning/src/services/HintSystem.ts
  packages/learning/src/services/index.ts
  packages/ui/.svelte-kit/__package__/components/Typing/TypingChallenge.svelte
  packages/ui/.svelte-kit/__package__/components/Typing/TypingChallenge.svelte.d.ts
  packages/ui/.svelte-kit/__package__/components/Typing/VirtualKeyboard.svelte
  packages/ui/.svelte-kit/__package__/components/Typing/VirtualKeyboard.svelte.d.ts
  packages/ui/.svelte-kit/__package__/index.d.ts
  packages/ui/.svelte-kit/__package__/index.js
  packages/ui/.svelte-kit/generated/server/internal.js
  packages/ui/.svelte-kit/output/client/.vite/manifest.json
  packages/ui/.svelte-kit/output/client/_app/immutable/chunks/CCF-Q5Lm.js
  packages/ui/.svelte-kit/output/client/_app/immutable/chunks/eEoF-f6i.js
  packages/ui/.svelte-kit/output/client/_app/immutable/entry/app.--1pcg9T.js
  packages/ui/.svelte-kit/output/client/_app/immutable/entry/app.BxpA4PSy.js
  packages/ui/.svelte-kit/output/client/_app/immutable/entry/start.Ba377V6n.js
  packages/ui/.svelte-kit/output/client/_app/immutable/entry/start.CwEMmGTt.js
  packages/ui/.svelte-kit/output/client/_app/immutable/nodes/1.CjPUKUAj.js
  packages/ui/.svelte-kit/output/client/_app/immutable/nodes/1.HW83W0nI.js
  packages/ui/.svelte-kit/output/client/_app/version.json
  packages/ui/.svelte-kit/output/server/chunks/internal.js
  packages/ui/.svelte-kit/output/server/manifest-full.js
  packages/ui/.svelte-kit/output/server/manifest.js
  packages/ui/.svelte-kit/output/server/nodes/1.js
  packages/ui/dist/components/Typing/TypingChallenge.svelte
  packages/ui/dist/components/Typing/TypingChallenge.svelte.d.ts
  packages/ui/dist/components/Typing/VirtualKeyboard.svelte
  packages/ui/dist/components/Typing/VirtualKeyboard.svelte.d.ts
  packages/ui/dist/index.d.ts
  packages/ui/dist/index.js
  packages/ui/src/lib/components/Typing/TypingChallenge.svelte
  packages/ui/src/lib/components/Typing/VirtualKeyboard.svelte
  packages/ui/src/lib/index.ts
Owners: @educational-app/core-team, @educational-app/design-system-team

feat: implement typing challenge Phase 3 (teacher builder UI)
  apps/teacher-portal/src/lib/navigation/teacher-navigation.ts
  apps/teacher-portal/src/routes/(authenticated)/typing-challenges/+page.server.ts
  apps/teacher-portal/src/routes/(authenticated)/typing-challenges/+page.svelte
  apps/teacher-portal/src/routes/(authenticated)/typing-challenges/create/+page.server.ts
  apps/teacher-portal/src/routes/(authenticated)/typing-challenges/create/+page.svelte
  packages/ui/.svelte-kit/generated/server/internal.js
  packages/ui/.svelte-kit/output/client/.vite/manifest.json
  packages/ui/.svelte-kit/output/client/_app/immutable/chunks/Dk1GWHtY.js
  packages/ui/.svelte-kit/output/client/_app/immutable/chunks/eEoF-f6i.js
  packages/ui/.svelte-kit/output/client/_app/immutable/entry/app.--1pcg9T.js
  packages/ui/.svelte-kit/output/client/_app/immutable/entry/app.CarnkHfx.js
  packages/ui/.svelte-kit/output/client/_app/immutable/entry/start.B1txbxXk.js
  packages/ui/.svelte-kit/output/client/_app/immutable/entry/start.CwEMmGTt.js
  packages/ui/.svelte-kit/output/client/_app/immutable/nodes/1.B_4_QLX2.js
  packages/ui/.svelte-kit/output/client/_app/immutable/nodes/1.HW83W0nI.js
  packages/ui/.svelte-kit/output/client/_app/version.json
  packages/ui/.svelte-kit/output/server/chunks/internal.js
  packages/ui/.svelte-kit/output/server/manifest-full.js
  packages/ui/.svelte-kit/output/server/manifest.js
  packages/ui/.svelte-kit/output/server/nodes/1.js
Owners: @educational-app/frontend-team, @educational-app/design-system-team

fix: resolve languageProviderRegistry import order issue
  packages/learning/src/services/index.ts
Owners: @educational-app/core-team

fix: resolve circular dependency in learning services index
  packages/learning/src/services/index.ts
Owners: @educational-app/core-team

fix: add typing-challenges route to protected routes in hooks
  apps/teacher-portal/src/hooks.server.ts
Owners: @educational-app/frontend-team

feat: implement math challenge feature with Claude and ElevenLabs APIs
  apps/student-app/src/hooks.server.ts
  apps/student-app/src/lib/components/FeedbackCard.svelte
  apps/student-app/src/lib/components/MathProblemDisplay.svelte
  apps/student-app/src/lib/components/NumericKeypad.svelte
  apps/student-app/src/lib/services/audio-manager.svelte.ts
  apps/student-app/src/lib/services/math-challenge.svelte.ts
  apps/student-app/src/routes/(authenticated)/math-challenge/+page.svelte
  apps/student-app/src/routes/(authenticated)/math-challenge/results/[sessionId]/+page.svelte
  apps/student-app/src/routes/(authenticated)/math-challenge/session/[sessionId]/+page.svelte
  apps/student-app/src/routes/(authenticated)/math-test/+page.svelte
  apps/student-app/src/routes/api/math/evaluate/+server.ts
  apps/student-app/src/routes/api/math/generate/+server.ts
  apps/student-app/src/routes/api/math/speak/+server.ts
  packages/learning/src/data/german-math-feedback.ts
  packages/learning/src/index.ts
  packages/learning/src/services/MathEngine.ts
  packages/learning/src/services/index.ts
  packages/learning/src/types/MathChallenge.ts
  packages/learning/src/types/index.ts
  packages/ui/src/lib/themes/student.css
Owners: @educational-app/mobile-team, @educational-app/core-team, @educational-app/design-system-team

chore: upgrade Claude model to claude-sonnet-4-20250514
  apps/student-app/src/routes/api/math/evaluate/+server.ts
  apps/student-app/src/routes/api/math/generate/+server.ts
Owners: @educational-app/mobile-team

refactor: remove fallback logic, add API logging
  apps/student-app/src/routes/api/math/evaluate/+server.ts
  apps/student-app/src/routes/api/math/generate/+server.ts
Owners: @educational-app/mobile-team

fix: feedback timing and difficulty consistency
  apps/student-app/src/lib/services/math-challenge.svelte.ts
  apps/student-app/src/routes/api/math/generate/+server.ts
  packages/learning/src/services/MathEngine.ts
Owners: @educational-app/mobile-team, @educational-app/core-team

fix: enforce Zehnerübergang setting on all problems
  apps/student-app/src/routes/api/math/generate/+server.ts
Owners: @educational-app/mobile-team

feat: add multiplication and division operations
  apps/student-app/src/routes/(authenticated)/math-challenge/+page.svelte
  apps/student-app/src/routes/api/math/generate/+server.ts
  packages/learning/src/types/MathChallenge.ts
Owners: @educational-app/mobile-team, @educational-app/core-team

debug: add logging for session start troubleshooting
  apps/student-app/src/lib/services/math-challenge.svelte.ts
  apps/student-app/src/routes/(authenticated)/math-challenge/+page.svelte
  apps/student-app/src/routes/(authenticated)/math-challenge/session/[sessionId]/+page.svelte
Owners: @educational-app/mobile-team

fix: improve TTS for math symbols in German
  apps/student-app/src/routes/api/math/speak/+server.ts
Owners: @educational-app/mobile-team

fix: adjust voice settings for clearer speech
  apps/student-app/src/routes/api/math/speak/+server.ts
Owners: @educational-app/mobile-team

fix: only convert math symbols in numeric context
  apps/student-app/src/routes/api/math/speak/+server.ts
Owners: @educational-app/mobile-team

feat: add timer option and fix mult/div range and TTS ordinals
  apps/student-app/src/lib/services/math-challenge.svelte.ts
  apps/student-app/src/routes/(authenticated)/math-challenge/+page.svelte
  apps/student-app/src/routes/(authenticated)/math-challenge/session/[sessionId]/+page.svelte
  apps/student-app/src/routes/api/math/generate/+server.ts
  apps/student-app/src/routes/api/math/speak/+server.ts
Owners: @educational-app/mobile-team

fix: resolve dev server startup issues and improve timer handling
  apps/student-app/package.json
  apps/student-app/src/hooks.client.ts
  apps/student-app/src/lib/services/math-challenge.svelte.ts
  apps/student-app/src/routes/(authenticated)/+layout.svelte
  apps/student-app/src/routes/(authenticated)/math-challenge/session/[sessionId]/+page.svelte
  apps/student-app/src/routes/api/math/generate/+server.ts
  packages/auth/package.json
  packages/ui/package.json
  packages/ui/src/lib/components/Layout/AppLayout/AppLayout.svelte
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @educational-app/core-team, @educational-app/mobile-team, @educational-app/design-system-team

feat: add KapiSpeaker with lip-synced Rive animation and emotion controls
  apps/student-app/package.json
  apps/student-app/src/lib/assets/kapi.riv
  apps/student-app/src/lib/components/KapiSpeaker.svelte
  apps/student-app/src/lib/services/blendStateController.ts
  apps/student-app/src/lib/services/elevenlabs.ts
  apps/student-app/src/lib/services/lipSyncController.ts
  apps/student-app/src/lib/services/smoothInput.ts
  apps/student-app/src/lib/services/visemeMapper.ts
  apps/student-app/src/lib/speech/eyeStates.ts
  apps/student-app/src/lib/speech/mouthStates.ts
  apps/student-app/src/lib/speech/phrases.ts
  apps/student-app/src/routes/(authenticated)/+layout.svelte
  apps/student-app/src/routes/(authenticated)/kapi/+page.svelte
  apps/student-app/src/routes/(authenticated)/kapi/+page.ts
  apps/student-app/src/routes/api/tts/+server.ts
  apps/student-app/static/speech/.gitkeep
  apps/student-app/static/speech/correct_1.json
  apps/student-app/static/speech/correct_1.mp3
  apps/student-app/static/speech/correct_2.json
  apps/student-app/static/speech/correct_2.mp3
  apps/student-app/static/speech/correct_3.json
  apps/student-app/static/speech/correct_3.mp3
  apps/student-app/static/speech/correct_4.json
  apps/student-app/static/speech/correct_4.mp3
  apps/student-app/static/speech/encourage_1.json
  apps/student-app/static/speech/encourage_1.mp3
  apps/student-app/static/speech/encourage_2.json
  apps/student-app/static/speech/encourage_2.mp3
  apps/student-app/static/speech/encourage_3.json
  apps/student-app/static/speech/encourage_3.mp3
  apps/student-app/static/speech/intro.json
  apps/student-app/static/speech/intro.mp3
  apps/student-app/static/speech/wrong_1.json
  apps/student-app/static/speech/wrong_1.mp3
  apps/student-app/static/speech/wrong_2.json
  apps/student-app/static/speech/wrong_2.mp3
  apps/student-app/static/speech/wrong_3.json
  apps/student-app/static/speech/wrong_3.mp3
  eslint.config.js
  pnpm-lock.yaml
Owners: @educational-app/core-team, @educational-app/mobile-team

CODEOWNERS:

# Global Owners
* @educational-app/core-team

# Apps
/apps/student-app/ @educational-app/mobile-team
/apps/teacher-portal/ @educational-app/frontend-team  
/apps/parent-portal/ @educational-app/frontend-team
/apps/admin-dashboard/ @educational-app/admin-team

# Shared Packages
/packages/ui/ @educational-app/design-system-team
/packages/database/ @educational-app/backend-team
/packages/api/ @educational-app/backend-team
/packages/sync-engine/ @educational-app/mobile-team @educational-app/backend-team
/packages/auth/ @educational-app/security-team
/packages/types/ @educational-app/core-team
/packages/platform/ @educational-app/mobile-team

# Infrastructure
/infrastructure/ @educational-app/devops-team
/.github/ @educational-app/devops-team

# Configuration Files
package.json @educational-app/core-team
turbo.json @educational-app/core-team
tsconfig.json @educational-app/core-team
tailwind.config.js @educational-app/design-system-team
prisma/ @educational-app/backend-team

# Documentation
/docs/ @educational-app/core-team
README.md @educational-app/core-team
CLAUDE.md @educational-app/core-team
