Repository fulaide/educational-app, changes with the owners that CODEOWNERS names for each.
All owners: @educational-app/core-team, @educational-app/mobile-team, @educational-app/frontend-team, @educational-app/admin-team, @educational-app/design-system-team, @educational-app/backend-team, @educational-app/security-team, @educational-app/devops-team

CODEOWNERS:

# Global Owners
* @educational-app/core-team

# Apps
/apps/student-app/ @educational-app/mobile-team
/apps/teacher-portal/ @educational-app/frontend-team  
/apps/parent-portal/ @educational-app/frontend-team
/apps/admin-dashboard/ @educational-app/admin-team

# Shared Packages
/packages/ui/ @educational-app/design-system-team
/packages/database/ @educational-app/backend-team
/packages/api/ @educational-app/backend-team
/packages/sync-engine/ @educational-app/mobile-team @educational-app/backend-team
/packages/auth/ @educational-app/security-team
/packages/types/ @educational-app/core-team
/packages/platform/ @educational-app/mobile-team

# Infrastructure
/infrastructure/ @educational-app/devops-team
/.github/ @educational-app/devops-team

# Configuration Files
package.json @educational-app/core-team
turbo.json @educational-app/core-team
tsconfig.json @educational-app/core-team
tailwind.config.js @educational-app/design-system-team
prisma/ @educational-app/backend-team

# Documentation
/docs/ @educational-app/core-team
README.md @educational-app/core-team
CLAUDE.md @educational-app/core-team

feat: implement Auth.js multi-role authentication system
  AUTHENTICATION.md
  apps/student-app/package.json
  apps/teacher-portal/src/app.d.ts
  apps/teacher-portal/src/hooks.server.ts
  apps/teacher-portal/src/routes/auth/signin/+page.svelte
  apps/teacher-portal/src/routes/dashboard/+page.server.ts
  apps/teacher-portal/src/routes/dashboard/+page.svelte
  package.json
  packages/auth/package.json
  packages/auth/src/index.ts
  packages/auth/src/qr-generator.ts
  packages/auth/tsconfig.json
  packages/auth/tsup.config.ts
  packages/database/package.json
  packages/database/prisma/schema.prisma
  packages/database/src/seed-auth-users.ts
Owners: @educational-app/core-team, @educational-app/frontend-team, @educational-app/security-team, @educational-app/backend-team

feat: implement comprehensive database migrations and seed data system
  packages/database/package.json
  packages/database/prisma/schema.prisma
  packages/database/src/db-utils.ts
  packages/database/src/migration-utils.ts
  packages/database/src/seed-config.ts
  packages/database/src/seed.ts
Owners: @educational-app/core-team, @educational-app/backend-team

feat: remove Auth.js legacy code and dependencies
  apps/teacher-portal/package.json
  apps/teacher-portal/src/hooks.server.ts
  package-lock.json
Owners: @educational-app/core-team, @educational-app/frontend-team

feat: implement Phase 1.1 - database session storage with JWT authentication
  apps/teacher-portal/src/hooks.server.ts
  apps/teacher-portal/src/lib/server/session-cleanup.ts
  apps/teacher-portal/src/routes/api/admin/session-cleanup/+server.ts
  apps/teacher-portal/src/routes/auth/signin/+page.server.ts
  apps/teacher-portal/src/routes/auth/signout/+page.server.ts
  packages/database/migrations/20250903_implement_custom_auth_session_storage.sql
  packages/database/prisma/schema.prisma
Owners: @educational-app/frontend-team, @educational-app/backend-team

feat: implement Phase 1.2 - password reset flow with email tokens
  apps/teacher-portal/package.json
  apps/teacher-portal/src/routes/auth/forgot-password/+page.server.ts
  apps/teacher-portal/src/routes/auth/forgot-password/+page.svelte
  apps/teacher-portal/src/routes/auth/reset-password/[token]/+page.server.ts
  apps/teacher-portal/src/routes/auth/reset-password/[token]/+page.svelte
  package-lock.json
Owners: @educational-app/core-team, @educational-app/frontend-team

feat: implement complete email verification system with dynamic URLs
  apps/teacher-portal/src/hooks.server.ts
  apps/teacher-portal/src/routes/auth/forgot-password/+page.server.ts
  apps/teacher-portal/src/routes/auth/register/+page.server.ts
  apps/teacher-portal/src/routes/auth/register/+page.svelte
  apps/teacher-portal/src/routes/auth/resend-verification/+page.server.ts
  apps/teacher-portal/src/routes/auth/resend-verification/+page.svelte
  apps/teacher-portal/src/routes/auth/reset-password/[token]/+page.server.ts
  apps/teacher-portal/src/routes/auth/reset-password/[token]/+page.svelte
  apps/teacher-portal/src/routes/auth/signin/+page.server.ts
  apps/teacher-portal/src/routes/auth/signin/+page.svelte
  apps/teacher-portal/src/routes/auth/signout/+page.server.ts
  apps/teacher-portal/src/routes/auth/verify-email/[token]/+page.server.ts
  apps/teacher-portal/src/routes/auth/verify-email/[token]/+page.svelte
  apps/teacher-portal/src/routes/dashboard/+page.server.ts
  apps/teacher-portal/src/routes/dashboard/+page.svelte
  apps/teacher-portal/vite.config.ts
  package-lock.json
  package.json
  packages/auth/dist/index.js
  packages/auth/package.json
  packages/auth/src/email-service.ts
  packages/auth/src/index.ts
  packages/auth/src/url-utils.ts
  packages/database/dist/index.js
  packages/database/dist/index.mjs
  packages/database/package.json
  packages/database/prisma/migrations/20250903194512_add_email_verification/migration.sql
  packages/database/prisma/migrations/migration_lock.toml
  packages/database/prisma/schema.prisma
  packages/database/src/index.ts
Owners: @educational-app/frontend-team, @educational-app/core-team, @educational-app/security-team, @educational-app/backend-team

feat: implement Phase 1.1 - complete i18n integration in teacher portal
  packages/ui/.svelte-kit/__package__/components/LocaleSwitcher/LocaleSwitcher.svelte
  packages/ui/.svelte-kit/__package__/components/LocaleSwitcher/LocaleSwitcher.svelte.d.ts
  packages/ui/.svelte-kit/__package__/components/LocaleSwitcher/index.d.ts
  packages/ui/.svelte-kit/__package__/components/LocaleSwitcher/index.js
  packages/ui/.svelte-kit/__package__/index.d.ts
  packages/ui/.svelte-kit/__package__/index.js
  packages/ui/.svelte-kit/ambient.d.ts
  packages/ui/.svelte-kit/generated/server/internal.js
  packages/ui/.svelte-kit/output/client/.vite/manifest.json
  packages/ui/.svelte-kit/output/client/_app/immutable/chunks/B6rBB371.js
  packages/ui/.svelte-kit/output/client/_app/immutable/chunks/DV7eZ8iy.js
  packages/ui/.svelte-kit/output/client/_app/immutable/entry/app.9ZRWXwNA.js
  packages/ui/.svelte-kit/output/client/_app/immutable/entry/app.CedGS__2.js
  packages/ui/.svelte-kit/output/client/_app/immutable/entry/start.BHUxQak9.js
  packages/ui/.svelte-kit/output/client/_app/immutable/entry/start.CQpIGi8I.js
  packages/ui/.svelte-kit/output/client/_app/immutable/nodes/1.B2E_L2_W.js
  packages/ui/.svelte-kit/output/client/_app/immutable/nodes/1.hUL0sorT.js
  packages/ui/.svelte-kit/output/client/_app/version.json
  packages/ui/.svelte-kit/output/server/chunks/internal.js
  packages/ui/.svelte-kit/output/server/manifest-full.js
  packages/ui/.svelte-kit/output/server/manifest.js
  packages/ui/.svelte-kit/output/server/nodes/1.js
  packages/ui/dist/components/LocaleSwitcher/LocaleSwitcher.svelte
  packages/ui/dist/components/LocaleSwitcher/LocaleSwitcher.svelte.d.ts
  packages/ui/dist/components/LocaleSwitcher/index.d.ts
  packages/ui/dist/components/LocaleSwitcher/index.js
  packages/ui/dist/index.d.ts
  packages/ui/dist/index.js
  packages/ui/src/lib/components/LocaleSwitcher/LocaleSwitcher.svelte
  packages/ui/src/lib/components/LocaleSwitcher/index.ts
  packages/ui/src/lib/index.ts
Owners: @educational-app/design-system-team

chore: apply linter fixes to i18n integration
  apps/teacher-portal/package.json
  apps/teacher-portal/src/routes/+layout.svelte
  apps/teacher-portal/src/routes/auth/signin/+page.svelte
  package-lock.json
  packages/i18n/src/locales/de.json
  packages/i18n/src/locales/en.json
Owners: @educational-app/core-team, @educational-app/frontend-team

feat: implement student UUID registration and QR code system
  packages/database/prisma/migrations/20250904165445_add_student_qr_codes/migration.sql
  packages/database/prisma/schema.prisma
Owners: @educational-app/backend-team

feat: complete student UUID registration and QR code system
  apps/teacher-portal/src/lib/utils/uuid.ts
  apps/teacher-portal/src/routes/+page.svelte
  apps/teacher-portal/src/routes/students/qr-codes/+page.server.ts
  apps/teacher-portal/src/routes/students/qr-codes/+page.svelte
  apps/teacher-portal/src/routes/students/register/+page.server.ts
  apps/teacher-portal/src/routes/students/register/+page.svelte
  packages/i18n/src/locales/de.json
  packages/i18n/src/locales/en.json
Owners: @educational-app/frontend-team, @educational-app/core-team

feat: implement comprehensive class management with image upload system
  apps/teacher-portal/src/routes/+layout.svelte
  apps/teacher-portal/src/routes/api/media/upload/+server.ts
  apps/teacher-portal/src/routes/classes/+page.server.ts
  apps/teacher-portal/src/routes/classes/+page.svelte
  apps/teacher-portal/src/routes/classes/[id]/+page.server.ts
  apps/teacher-portal/src/routes/classes/[id]/+page.svelte
  apps/teacher-portal/src/routes/classes/[id]/students/+page.server.ts
  apps/teacher-portal/src/routes/classes/[id]/students/+page.svelte
  apps/teacher-portal/static/uploads/class-avatars/1757531711279-Bandit.png
  apps/teacher-portal/static/uploads/class-avatars/1757531768268-41185225-b2ac-4533-85d5-8cc4c25d93dc.png
  apps/teacher-portal/static/uploads/class-avatars/1757531773497-Bandit.png
  apps/teacher-portal/static/uploads/class-avatars/1757532726432-images.jpeg
  apps/teacher-portal/static/uploads/class-avatars/1757532763594-images.jpeg
  apps/teacher-portal/static/uploads/class-avatars/1757532931947-images.jpeg
  apps/teacher-portal/static/uploads/class-avatars/1757533876336-41185225-b2ac-4533-85d5-8cc4c25d93dc.png
  apps/teacher-portal/static/uploads/class-avatars/1757534684858-images.jpeg
  apps/teacher-portal/static/uploads/class-avatars/1757534704047-Bandit.png
  packages/database/prisma/migrations/20250909131950_add_class_avatars/migration.sql
  packages/database/prisma/schema.prisma
  packages/media-manager/dist/index.css
  packages/media-manager/dist/index.css.map
  packages/media-manager/dist/index.js
  packages/media-manager/dist/index.js.map
  packages/media-manager/package.json
  packages/media-manager/src/components/CustomUpload.svelte
  packages/media-manager/src/components/ImagePicker.svelte
  packages/media-manager/src/components/PresetGallery.svelte
  packages/media-manager/src/index.ts
  packages/media-manager/src/stores/media.svelte.js
  packages/media-manager/src/types.ts
  packages/media-manager/src/utils/preset-images.ts
  packages/media-manager/src/utils/vercel-blob.ts
  packages/media-manager/tsconfig.json
  packages/media-manager/tsup.config.ts
  packages/ui/src/lib/index.ts
Owners: @educational-app/frontend-team, @educational-app/backend-team, @educational-app/core-team, @educational-app/design-system-team

fix: rebuild responsive layout system with proper SSR support and frosted glass styling
  apps/teacher-portal/src/routes/layout-test/+page.svelte
  packages/ui/src/lib/components/Layout/AppLayout/AppLayout.svelte
  packages/ui/src/lib/components/Layout/Drawer/Drawer.svelte
  packages/ui/src/lib/components/Layout/MainContent/MainContent.svelte
  packages/ui/src/lib/components/Layout/Sidebar/Sidebar.svelte
  packages/ui/src/lib/components/Layout/utils/layoutContext.svelte.ts
Owners: @educational-app/frontend-team, @educational-app/design-system-team

feat: enhance drawer styling with improved desktop appearance
  packages/ui/src/lib/components/Layout/Drawer/Drawer.svelte
Owners: @educational-app/design-system-team

feat: integrate new layout system into teacher portal dashboard and classes
  apps/teacher-portal/src/routes/classes/+page.svelte
  apps/teacher-portal/src/routes/dashboard/+page.svelte
Owners: @educational-app/frontend-team

refactor: refactor AuthButton to use shared Button component
  packages/ui/src/lib/components/Auth/AuthButton.svelte
Owners: @educational-app/design-system-team

feat: implement comprehensive authenticated layout system with teacher profile
  apps/teacher-portal/src/routes/(authenticated)/+layout.server.ts
  apps/teacher-portal/src/routes/(authenticated)/+layout.svelte
  apps/teacher-portal/src/routes/(authenticated)/classes/+page.server.ts
  apps/teacher-portal/src/routes/(authenticated)/classes/+page.svelte
  apps/teacher-portal/src/routes/(authenticated)/classes/[id]/+page.server.ts
  apps/teacher-portal/src/routes/(authenticated)/classes/[id]/+page.svelte
  apps/teacher-portal/src/routes/(authenticated)/classes/[id]/students/+page.server.ts
  apps/teacher-portal/src/routes/(authenticated)/classes/[id]/students/+page.svelte
  apps/teacher-portal/src/routes/(authenticated)/dashboard/+page.server.ts
  apps/teacher-portal/src/routes/(authenticated)/dashboard/+page.svelte
  apps/teacher-portal/src/routes/(authenticated)/qr-codes/+page.server.ts
  apps/teacher-portal/src/routes/(authenticated)/qr-codes/+page.svelte
  apps/teacher-portal/src/routes/(authenticated)/students/+page.server.ts
  apps/teacher-portal/src/routes/(authenticated)/students/+page.svelte
  apps/teacher-portal/src/routes/(authenticated)/students/qr-codes/+page.server.ts
  apps/teacher-portal/src/routes/(authenticated)/students/qr-codes/+page.svelte
  apps/teacher-portal/src/routes/(authenticated)/students/register/+page.server.ts
  apps/teacher-portal/src/routes/(authenticated)/students/register/+page.svelte
  apps/teacher-portal/src/routes/+page.svelte
  apps/teacher-portal/src/routes/auth/register/+page.svelte
  apps/teacher-portal/src/routes/auth/resend-verification/+page.svelte
  apps/teacher-portal/src/routes/auth/student-login/+page.server.ts
  apps/teacher-portal/src/routes/auth/student/+page.server.ts
  apps/teacher-portal/src/routes/auth/student/+page.svelte
  apps/teacher-portal/src/routes/auth/verify-email/[token]/+page.svelte
  apps/teacher-portal/src/routes/dashboard/+page.server.ts
  apps/teacher-portal/src/routes/debug/+page.svelte
  apps/teacher-portal/src/routes/layout-debug/+page.svelte
  apps/teacher-portal/src/routes/layout-snippets-demo/+page.svelte
  apps/teacher-portal/src/routes/layout-test-simple/+page.svelte
  apps/teacher-portal/src/routes/layout-test/+page.svelte
  apps/teacher-portal/src/routes/simple-test/+page.server.ts
  apps/teacher-portal/src/routes/simple-test/+page.svelte
  apps/teacher-portal/src/routes/student-portal/+page.server.ts
  apps/teacher-portal/src/routes/student-portal/+page.svelte
  apps/teacher-portal/src/routes/test-image-picker/+page.server.ts
  apps/teacher-portal/src/routes/test-image-picker/+page.svelte
Owners: @educational-app/frontend-team

refactor: migrate to proper Tailwind preset architecture
  CLAUDE.md
  apps/parent-portal/tailwind.config.js
  apps/student-app/tailwind.config.js
  packages/ui/dist/components/LocaleSwitcher/LocaleSwitcher.svelte
  packages/ui/package.json
  packages/ui/src/lib/components/LocaleSwitcher/LocaleSwitcher.svelte
  packages/ui/tailwind-preset.js
Owners: @educational-app/core-team, @educational-app/design-system-team

refactor: move auth component styles to component-scoped classes
  packages/ui/src/lib/components/Auth/AuthButton.svelte
  packages/ui/src/lib/components/Auth/AuthError.svelte
  packages/ui/src/lib/components/Auth/AuthHeader.svelte
  packages/ui/src/lib/components/Auth/AuthInput.svelte
  packages/ui/src/lib/components/Auth/AuthLinks.svelte
  packages/ui/src/lib/components/Auth/AuthPageContainer.svelte
  packages/ui/src/lib/components/Auth/AuthPasswordInput.svelte
  packages/ui/src/lib/components/Auth/AuthSuccess.svelte
  packages/ui/src/lib/components/Input/Input.svelte
  packages/ui/src/lib/components/ProgressBar/ProgressBar.svelte
  packages/ui/src/lib/styles/components.css
Owners: @educational-app/design-system-team

docs: add comprehensive component styling standards to CLAUDE.md
  CLAUDE.md
Owners: @educational-app/core-team

fix: refactor Card component to use Tailwind utilities
  apps/teacher-portal/src/routes/(authenticated)/dashboard/+page.svelte
  packages/ui/src/lib/components/Card/Card.svelte
Owners: @educational-app/frontend-team, @educational-app/design-system-team

fix: Card elevated variant shows shadow in idle state
  packages/ui/src/lib/components/Card/Card.svelte
Owners: @educational-app/design-system-team

fix: improve Card elevated variant shadow progression
  packages/ui/src/lib/components/Card/Card.svelte
Owners: @educational-app/design-system-team

fix: correct shadow token naming for Tailwind v4
  packages/ui/src/lib/themes/admin.css
  packages/ui/src/lib/themes/index.ts
  packages/ui/src/lib/themes/parent-old.css.backup
  packages/ui/src/lib/themes/parent.css
  packages/ui/src/lib/themes/student.css
  packages/ui/src/lib/themes/teacher.css
  packages/ui/src/lib/themes/teacher/tokens.css
Owners: @educational-app/design-system-team

refactor: update classes route with new Card component props
  apps/teacher-portal/src/routes/(authenticated)/classes/+page.svelte
Owners: @educational-app/frontend-team

fix: remove unused AuthButton import from classes route
  apps/teacher-portal/src/routes/(authenticated)/classes/+page.svelte
Owners: @educational-app/frontend-team

refactor: update students route with new Card component props
  apps/teacher-portal/src/routes/(authenticated)/students/+page.svelte
Owners: @educational-app/frontend-team

fix: update QR Codes button to outlined variant in students route
  apps/teacher-portal/src/routes/(authenticated)/students/+page.svelte
Owners: @educational-app/frontend-team

refactor: add class avatars and semantic tokens to dashboard
  apps/teacher-portal/src/routes/(authenticated)/dashboard/+page.svelte
Owners: @educational-app/frontend-team

refactor: replace hardcoded colors with semantic tokens in dashboard stat cards
  apps/teacher-portal/src/routes/(authenticated)/dashboard/+page.svelte
Owners: @educational-app/frontend-team

fix: update Quick Actions Drawer with semantic tokens and onclick syntax
  apps/teacher-portal/src/routes/(authenticated)/dashboard/+page.svelte
Owners: @educational-app/frontend-team

refactor: replace custom stat card buttons with Button component
  apps/teacher-portal/src/routes/(authenticated)/dashboard/+page.svelte
Owners: @educational-app/frontend-team

refactor: replace hardcoded colors with semantic tokens in classes route
  apps/teacher-portal/src/routes/(authenticated)/classes/+page.svelte
Owners: @educational-app/frontend-team

refactor: replace hardcoded colors with semantic tokens and Button components in class detail page
  apps/teacher-portal/src/routes/(authenticated)/classes/[id]/+page.svelte
Owners: @educational-app/frontend-team

refactor: replace custom SVG icons with Lucide icons in class detail header
  apps/teacher-portal/src/routes/(authenticated)/classes/[id]/+page.svelte
Owners: @educational-app/frontend-team

refactor: replace custom card styling with Card component in class detail page
  apps/teacher-portal/src/routes/(authenticated)/classes/[id]/+page.svelte
Owners: @educational-app/frontend-team

refactor: replace Modal with Drawer component for edit class form
  apps/teacher-portal/src/routes/(authenticated)/classes/[id]/+page.svelte
Owners: @educational-app/frontend-team

refactor: move drawer buttons to footer and add content padding
  apps/teacher-portal/src/routes/(authenticated)/classes/[id]/+page.svelte
Owners: @educational-app/frontend-team

feat: enhance drawer and button components with improved functionality
  apps/teacher-portal/src/routes/(authenticated)/classes/[id]/+page.svelte
  apps/teacher-portal/src/routes/(authenticated)/classes/[id]/students/+page.svelte
  packages/ui/.svelte-kit/__package__/components/Button/Button.svelte
  packages/ui/.svelte-kit/__package__/components/Button/Button.svelte.d.ts
  packages/ui/.svelte-kit/__package__/components/Layout/Drawer/Drawer.svelte
  packages/ui/.svelte-kit/generated/server/internal.js
  packages/ui/.svelte-kit/output/client/.vite/manifest.json
  packages/ui/.svelte-kit/output/client/_app/immutable/chunks/CkQ1dWmp.js
  packages/ui/.svelte-kit/output/client/_app/immutable/chunks/Cr0jIF5S.js
  packages/ui/.svelte-kit/output/client/_app/immutable/entry/app.BhYtPEN3.js
  packages/ui/.svelte-kit/output/client/_app/immutable/entry/app.CjrBKuES.js
  packages/ui/.svelte-kit/output/client/_app/immutable/entry/start.B2yi-QsT.js
  packages/ui/.svelte-kit/output/client/_app/immutable/entry/start.CDqk8Ka1.js
  packages/ui/.svelte-kit/output/client/_app/immutable/nodes/1.Bfz5xMTb.js
  packages/ui/.svelte-kit/output/client/_app/immutable/nodes/1.D3UbI9Xe.js
  packages/ui/.svelte-kit/output/client/_app/version.json
  packages/ui/.svelte-kit/output/server/chunks/internal.js
  packages/ui/.svelte-kit/output/server/manifest-full.js
  packages/ui/.svelte-kit/output/server/manifest.js
  packages/ui/.svelte-kit/output/server/nodes/1.js
  packages/ui/dist/components/Button/Button.svelte
  packages/ui/dist/components/Button/Button.svelte.d.ts
  packages/ui/dist/components/Layout/Drawer/Drawer.svelte
  packages/ui/src/lib/components/Button/Button.svelte
  packages/ui/src/lib/components/Layout/Drawer/Drawer.svelte
Owners: @educational-app/frontend-team, @educational-app/design-system-team

feat: implement comprehensive QR code management system
  apps/teacher-portal/src/routes/(authenticated)/classes/[id]/+page.server.ts
  apps/teacher-portal/src/routes/(authenticated)/classes/[id]/+page.svelte
  apps/teacher-portal/src/routes/(authenticated)/classes/[id]/students/+page.server.ts
  apps/teacher-portal/src/routes/(authenticated)/classes/[id]/students/+page.svelte
  apps/teacher-portal/src/routes/(authenticated)/qr-codes/+page.server.ts
  apps/teacher-portal/src/routes/(authenticated)/qr-codes/+page.svelte
  packages/ui/dist/components/QRCode/QRCode.svelte
  packages/ui/package.json
  packages/ui/src/lib/components/QRCode/QRCode.svelte
Owners: @educational-app/frontend-team, @educational-app/design-system-team, @educational-app/core-team

feat: implement language provider pattern and vocabulary database schema
  packages/database/migrations/20251016_add_language_support_to_vocabulary.sql
  packages/database/prisma/migrations/20251016084652_add_vocabulary_language_support/migration.sql
  packages/database/prisma/schema.prisma
  packages/learning/src/index.ts
  packages/learning/src/providers/BaseLanguageProvider.ts
  packages/learning/src/providers/index.ts
  packages/learning/src/services/LanguageProviderRegistry.ts
  packages/learning/src/services/index.ts
  packages/learning/src/types/LanguageProvider.ts
  packages/learning/src/types/index.ts
Owners: @educational-app/backend-team, @educational-app/core-team
